version: '3'
services:
  msisdn:
    container_name: 3fs_msisdn
    build:
      context: .
    restart: unless-stopped
    ports:
      - 8080:8080
    tty: true

  swagger-ui:
    image: swaggerapi/swagger-ui
    container_name: swagger-ui
    ports:
      - "8001:8080"
    volumes:
      - ./swagger:/usr/share/nginx/html/swagger
    environment:
      API_URL: swagger/api.yaml
